.home-container {
    display: flex;
}

.home-container .sidebar {
    width: 20rem;
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-container .sidebar .first-section .profile-search .profile {
    padding: 10px 0px 10px 10px;
    display: flex;
    font-size: 0.8rem;
    gap: 10px;
}

.home-container .sidebar .first-section .profile-search .profile .img {
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 3.3rem;
}

.home-container .sidebar .first-section .profile-search .profile .img img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.home-container .sidebar .first-section .profile-search .profile .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container .sidebar .first-section .profile-search .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(77, 66, 66);
    border-left: 1px solid rgb(66, 55, 55);
    border-top: 1px solid rgb(43, 37, 37);
    border-right: 1px solid rgb(77, 66, 66);
    border-radius: 5px;
    width: 85%;
    margin: auto;
    padding: 6px 8px;
}

/* Style for the input field */
.home-container .sidebar .first-section .profile-search .search input {
    background-color: transparent;
    border: none;
    color: white;
    width: 90%;
    outline: none; /* Removes the focus outline */
}

/* Style for the placeholder color */
.home-container .sidebar .first-section .profile-search .search input::placeholder {
    color: rgb(216, 196, 196);
}

/* Remove border when the input is focused */
.home-container .sidebar .first-section .profile-search .search input:focus {
    border: none; /* Ensures no border is added on focus */
    outline: none; /* Also removes the focus outline */
}

.home-container .sidebar .first-section .profile-search .search i {
    font-size: 0.7rem;
}









.home-container .center-body {
    width: 70%;
    height: 100vh;
}

.home-container .right-bar {
    background-color: black;
    width: 27rem;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}